<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 配置注解的扫描范围 -->
	<context:component-scan base-package="cn.jiangxi.elec"></context:component-scan>			
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" >
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/elec?useUnicode=true&amp;characterEncoding=UTF-8"/>
		<property name="user" value="root"/>
		<property name="password" value="wangying"/>
		<!-- 连接池中保留的最小连接数 -->
		<property name="minPoolSize" value="5"/>
		<!-- 连接池中保留的最大连接数，default：15 -->
		<property name="maxPoolSize" value="30"/>
		<!-- 初始化时获取的连接数，default：3 -->
		<property name="initialPoolSize" value="10"/>
		<!-- 最大空闲时间，60秒内未使用则连接被丢弃，若为0则永远丢弃，default：0 -->
		<property name="maxIdleTime" value="60"/>
		<!-- 当连接池中的连接耗尽时，c3p0一次同时获取的连接数，default：3 -->
		<property name="acquireIncrement" value="5"/>
		<!-- 
			JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。
			但由于预缓存的statements属于单个的connection而不是整个连接池，
			所以设置这个参数需要考虑到多方面的因素。
			如果maxStatements与maxStatementsConnection均为0，则缓存被关闭。default：：0
		 -->
		 <property name="maxStatements" value="0"/>
		 <!-- 每60秒检查所有连接池中的空闲连接，default：0 -->
		 <property name="idleConnectionTestPeriod" value="60"/>
		 <!-- 定义在从数据库中获取新连接失败后重复尝试的次数default：30 -->
		 <property name="acquireRetryAttempts" value="30"/>
		 <!-- 
		 	获取连接失败将会引起所有等待连接池来获取连接的线程跑出异常。
		 	但是数据源仍有效保留，并在下次调用getConnection()的时候
		 	继续尝试获取连接。如果设为true，那么在尝试获取连接失败后该
		 	数据源将申明已断开并永久关闭。defuault：false
		  -->
		  <property name="breakAfterAcquireFailure" value="true"/>
		  
	</bean>
	<!-- 创建sessionFactory工厂,这是spring整合hibernate入口 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation">
			<value>
				classpath:hibernate.cfg.xml
			</value>
		</property>
	</bean>
	
	<!-- 创建事务管理器 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 以注解的形式管理事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- 
	<bean id="basicDao" class="cn.jiangxi.elec.dao.impl.CommonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	 -->
</beans>